<nav class="navbar navbar-expand-sm bg-light navbar-light mb-4">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">
        <img src="/assets/images/logo.png" height=30 width=41>
        <i class="fa fa-home fa-lg"></i>Home
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/aboutus" routerLinkActive="active" class="nav-link">
        <i class="fa fa-info fa-lg"></i> About
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/menu" routerLinkActive="active">
        <i class="fa fa-list fa-lg"></i> Menu
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contactus" routerLinkActive="active">
        <i class="fa fa-address-card fa-lg"></i> Contact</a>
    </li>
  </ul>
  <a class="login-link cursor-pointer" (click)="onClick()">
    <i class="fa fa-sign-in fa-lg"></i>
      Login
  </a>
</nav>

<div class="container pt-3 pb-3 bg-warning rounded">
  <div>
    <h1>Ristorante ConFusion</h1>
    <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
      will tickle your culinary senses!</p>
  </div>
  <div>
    <img src="/assets/images/logo.png" alt="Logo">
  </div>
  <div></div>
</div>