<div class="container" fxLayout="column" fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Contact Us</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <h3>Location Information</h3>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50" fxFlexOffset="20px">
        <h4>Our Address</h4>
        <address>
          121, Clear Water Bay Road
          <br> Clear Water Bay, Kowloon
          <br> HONG KONG
          <br>
          <i class="fa fa-phone"></i>: +852 1234 5678
          <br>
          <i class="fa fa-fax"></i>: +852 8765 4321
          <br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:confusion@food.net">confusion@food.net</a>
        </address>
        <p></p>
        <div>
          <a md-raised-button href="tel:+85212345678">
            <i class="fa fa-phone"></i> Call</a>
          <a md-raised-button>
            <i class="fa fa-skype"></i> Skype</a>
          <a md-raised-button href="mailto:confusion@food.net">
            <i class="fa fa-envelope-o"></i> Email</a>
        </div>
      </div>
      <div fxFlex="40">
        <h4>Map of our Location</h4>
      </div>
    </div>
  </div>
</div>

<div class="container display-block">
  <h3 class="display-block">Send us your feedback</h3>
  <p>{{ feedbackForm.value | json }} {{ feedbackForm.status | json }}</p>
  <form novalidate [formGroup]="feedbackForm" class="display-block" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="form-group col">
        <label>First Name*</label>
        <input class="form-control" formControlName="firstname" [ngClass]="(formErrors.firstname) ? 'is-invalid' : 'is-valid'"
          placeholder="first name" type="text" required />
        <span class="meta" [hidden]="!(formErrors.firstname)">
          {{formErrors.firstname}}
        </span>
      </div>
      <div class="form-group col">
        <label>Last Name*</label>
        <input class="form-control" formControlName="lastname" [ngClass]="(formErrors.lastname) ? 'is-invalid' : 'is-valid'"
          placeholder="last name" type="text" required />
        <span class="meta" [hidden]="!(formErrors.lastname)">
          {{formErrors.lastname}} 
        </span>
      </div>
    </div>
    <div class="form-group">
      <label>Tel Name*</label>
      <input class="form-control" formControlName="telnum" placeholder="telephone name" [ngClass]="(formErrors.telnum) ? 'is-invalid' : 'is-valid'"
        type="tel" required pattern="[0-9]*" />
      <span class="meta" [hidden]="!(formErrors.telnum)">
        {{formErrors.telnum}}
      </span>
    </div>
    <div class="form-group">
      <label>email</label>
      <input class="form-control" 
             [ngClass]="(formErrors.email) ? 'is-invalid' : 'is-valid'"
        formControlName="email" placeholder="email" type="email" required />
        <span class="meta" [hidden]="!(formErrors.email)">
          {{formErrors.email}}
        </span>
      </div>
    <table class="table">
      <td>
        <input formControlName="agree" type="checkbox"> May we contact you?
      </td>
      <td>
        <label>How ?</label>
        <select placeholder="How?" formControlName="contacttype">
          <option *ngFor="let ctype of contactType" [value]="ctype">
            {{ ctype }}
          </option>
        </select>
      </td>
    </table>
    <div class="form-group">
      <textarea class="form-control" formControlName="message" placeholder="Your Feedback" rows=12>
      </textarea>
    </div>
    <div>
      <button type="submit" class="btn btn-primary" [disabled]="feedbackForm.invalid">
        Submit
      </button>
    </div>
  </form>
</div>