<div class="text-center">
  <h3 class="text-uppercase ">
    <u>Menu</u>
  </h3>
</div>

<div class="container" *ngIf="dishes">
  <div class="">
    <div class="row">
      <div *ngFor="let dish of dishes" class="col-md-6 text-center" [routerLink]="['/dishdetail' , dish.id]" appHighlight>
        <img src="{{'/assets/' + dish.image}}" alt={{dish.name}}>
        <div>
          <h1 md-line>{{dish.name | uppercase}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div [hidden]="dishes ||errorMsg" class="text-center">
  <i class="fa fa-spinner fa-spin"></i>
</div>
<div *ngIf="errorMsg">
  <h2>Error</h2>
  <h4>{{errorMsg}}</h4>
</div>