<div class="container">

  <div class="col-md-6"
       *ngIf="dish">
      <md-card>
        <md-card-header>
          <md-card-title>
            <h3>{{dish.name | uppercase}}</h3>
          </md-card-title>
        </md-card-header>
        <img md-card-image src="{{'/assets/' + dish.image}}" alt={{dish.name}} />
        <md-card-content>
          <p>{{dish.description}}
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
          <button md-button (click)="goBack()">BACK</button>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
          <span class="flex-spacer"></span>
          <button md-button [routerLink]="['/dishdetail', next]">
            <span class="fa fa-chevron-right fa-lg"></span>
          </button>
        </md-card-actions>
      </md-card>
  </div>

  <div class="col-md-6" *ngIf="dish">
    <div>
      <h3>Comments</h3>
      <div *ngFor="let comment of dish.comments"
           class="m-3">
        <p>{{comment.comment}} </p>
        <p class="font-italic" >{{comment.rating}} Stars </p>
        <p class="font-weight-light" >-- {{comment.author}} {{comment.date | date}}</p>
      </div>
    </div>
    <app-ngbd-rating-basic (onCreation)="onAdding($event)" ></app-ngbd-rating-basic>
  </div>
  <div [hidden]="dish || errorMsg"
      class="text-center">
    <i class="fa fa-spin fa-spinner"></i>
  </div>
  <div *ngIf="errorMsg">
    <h2>Error</h2>
    <h4>{{errorMsg}}</h4>
  </div>

</div>